/* src/styles/HomePage.css */

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Optional: Set the height to fill the viewport */
}

.content {
  margin-top: 20px; /* Add space between Header and buttons */
}

.button-container {
  display: flex;
  gap: 20px; /* Adjust the gap between buttons as needed */
}

.action-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

.action-button:hover {
  background-color: #0056b3;
}
